.cell {
    cursor: pointer;
    width: 35px;
    height: 30px;
    margin: 5px;
}


@media (max-width: 599px) {
    .cell {
        width: 15px;
        margin: 0 5px 0 5px
    }
}

@media (min-width: 600px) and (max-width: 930px) {
    .cell {
        width: 25px;
        margin-top: auto;
        margin-bottom: auto;
    }
}
